<template>
  <div>
    <!-- Secondary AppBar -->
    <AppBarSecondary :search="search" :filter="filter" :add="add" />

    <v-container>
      <!-- When loading : progress-bar -->
      <CustomProgressBar
        v-if="isLoading"
        message="Chargement des données de l'identifiant provider..."
      />

      <!-- After loading : display the services -->
      <div v-else>
        <!-- Before the services's data, the arborescence -->
        <PathArborescence />

        <v-card>
          <!-- 1 : username -->
          <v-row>
            <!-- 1 : username's title -->
            <v-col cols="12" sm="4">
              <v-card-title>Nom</v-card-title>
            </v-col>

            <!-- 1 : username's content -->
            <v-col cols="12" sm="8">
              <v-container fill-height>
                {{ providerCredentials.username }}
              </v-container>
            </v-col>

            <!-- 2 : assets's title -->
            <v-col cols="12" sm="4">
              <v-card-title>Services</v-card-title>
            </v-col>

            <!-- 2 : assets's content -->
            <v-col cols="12" sm="8">
              <v-container fill-height>
                {{ assets.length }}
                {{ assets.length > 1 ? "services" : "service" }} :
                <!-- Counter of working assets -->
                <v-container>
                  {{ assets.filter((s) => s.running).length }}
                  {{
                    assets.filter((s) => s.running).length > 1
                      ? "services allumés"
                      : "service allumé"
                  }}
                </v-container>

                <!-- Counter of sleeping assets -->
                <v-container>
                  {{ assets.filter((s) => !s.running).length }}
                  {{
                    assets.filter((s) => !s.running).length > 1
                      ? "services éteints"
                      : "service éteint"
                  }}
                </v-container>
              </v-container>
            </v-col>

            <!-- 3 : consumed ressources's title -->
            <v-col cols="12" sm="4">
              <v-card-title>Total consommé</v-card-title>
            </v-col>

            <!-- 3 : consumed ressources's content -->
            <v-col cols="12" sm="8">
              <v-container fill-height>
                {{ totalCost }} €
              </v-container>
            </v-col>

            <!-- 4 : description's title -->
            <v-col cols="12" sm="4">
              <v-card-title>Description</v-card-title>
            </v-col>

            <!-- 4 : description's content -->
            <v-col cols="12" sm="8">
              <v-container fill-height>
                {{ providerCredentials.description }}
              </v-container>
            </v-col>
          </v-row>
        </v-card>
      </div>
    </v-container>
  </div>
</template>

<script>
// Imports
import AppBarSecondary from '@/components/app-bar-secondary'
import CustomProgressBar from '@/components/custom-progress-bar'
import PathArborescence from '@/components/path-arborescence'
import MixinRouteParams from '@/mixins/mixin-route-params'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'PageAccountProviderInformationsGenerales',

  components: {
    AppBarSecondary,
    CustomProgressBar,
    PathArborescence
  },

  mixins: [MixinRouteParams],

  data: () => ({
    // Whether we are loading data
    isLoading: true

    // Sum of all the costs of the provider's services
    // totalCost: 0
  }),

  computed: {
    // Imports
    ...mapGetters('assets', ['getAssets']),
    ...mapGetters('cloud_providers.credentials', ['getProviderCredentialById']),

    /** Return the provider, or a default instance */
    providerCredentials () {
      return this.getProviderCredentialById(this.paramIdProviderCredentials) || {
        id: -1,
        username: '',
        email: '',
        description: '',
        provider: {
          id: -1,
          name: ''
        }
      }
    },

    /** Return the services, or a default instance */
    assets () {
      return this.getAssets || []
    },

    /** Sum of all the costs of the provider's services */
    totalCost () {
      return (this.assets.length !== 0) ? this.assets.reduce((total, current) => total + current.lastBilling.amount, 0) : 0
    }
  },

  async mounted () {
    // We wait for the provider's credentials
    await this.fetchProviderCredentialById({ id: this.paramIdProviderCredentials })

    // We wait for the provider's credentials's assets
    await this.fetchAssets({ providerCredentialsID: this.paramIdProviderCredentials })

    // We consider the loading done
    this.isLoading = false
  },

  methods: {
    // Imports
    ...mapActions('assets', ['fetchAssets']),
    ...mapActions('cloud_providers.credentials', ['fetchProviderCredentialById']),

    /** A basic method to search */
    search () {
      alert('Vous avez cliqué sur le bouton SEARCH !')
    },

    /** A basic method to filter */
    filter () {
      alert('Vous avez cliqué sur le bouton FILTER !')
    },

    /** A basic method to add */
    add () {
      alert('Vous avez cliqué sur le bouton ADD !')
    }
  },

  head () {
    return { title: this.providerCredentials.username + ' informations générales' }
  }
}
</script>
