<template>
  <v-container>
    <!-- Select to pick a team -->
    <v-row justify="center">
      <v-col cols="12" sm="6">
        <v-select
          v-model="selectedAsset"
          :items="assets"
          item-text="assetName"
          return-object
        />
      </v-col>
    </v-row>

    <v-data-table
      :headers="headers"
      :items="rules"
      class="elevation-1"
      no-data-text="Ce service ne possède aucune règle"
    >
      <template v-slot:item.active="{ item }">
        <v-chip
          :class="{ 'success': item.active, 'error': !item.active }"
          dark
        >
          {{ (item.active) ? 'ON' : 'OFF' }}
        </v-chip>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
// Imports
import MixinRouteParams from '@/mixins/mixin-route-params'
import { mapGetters, mapActions } from 'vuex'
const lodash = require('lodash')

export default {
  name: 'PageAccountProviderRegles',

  components: {
  },

  mixins: [MixinRouteParams],

  data: () => ({
    // Selected asset
    selectedAsset: {},

    // Whether we are loading data
    isLoading: true,

    // Headers of the table
    headers: [
      {
        text: 'Title',
        align: 'start',
        sortable: false,
        value: 'title'
      },
      { text: 'Active', value: 'active' },
      { text: 'Rule', value: 'rule' }
    ]
  }),

  computed: {
    // Imports
    ...mapGetters('assets', ['getAssets']),
    ...mapGetters('assets.rules', ['getRules']),

    /** Return the assets in alphabetical, or a default instance */
    assets () {
      // We get the list of assets from the store
      const assetList = lodash.cloneDeep(this.getAssets)

      // We sort the assets by name
      assetList.sort((a, b) => {
        // We set the names to lowercase
        const fa = a.assetName.toLowerCase()
        const fb = b.assetName.toLowerCase()

        return (fa < fb) ? -1 : (fa > fb) ? 1 : 0
      })

      // We return the ordered list
      return assetList
    },

    /** Return the asset's rules */
    rules () {
      return this.getRules || []
    }
  },

  watch: {
    // Whenever the user selects another team
    async selectedAsset (val) {
      // We fetch the newly selected asset's rules
      await this.fetchRules({ assetID: this.selectedAsset.assetID })
    }
  },

  async mounted () {
    // We wait for the provider's credentials's assets
    await this.fetchAssets({ providerCredentialsID: this.paramIdProviderCredentials })

    if (this.assets.length !== 0) {
      this.selectedAsset = this.assets[0]
    }

    // We consider the loading done
    this.isLoading = false
  },

  methods: {
    // Imports
    ...mapActions('assets', ['fetchAssets']),
    ...mapActions('assets.rules', ['fetchRules'])
  },

  head () {
    return { title: 'Règles' }
  }
}
</script>
