<template>
  <v-container>
    <!-- When loading : progress-bar -->
    <CustomProgressBar
      v-if="isLoading"
      message="Chargement des données des services..."
    />

    <!-- After loading : display the assets -->
    <div v-else>
      <!-- Before the assets's data, the arborescence -->
      <PathArborescence />

      <v-card>
        <!-- If there is no asset : error message -->
        <v-container v-if="assets.length === 0" class="text-center">
          Ce provider ne contient aucun service
        </v-container>

        <!-- Otherwise : display the assets -->
        <v-row v-else>
          <!-- 1 : name's title -->
          <v-col
            v-for="asset in assets"
            :key="asset.idAsset"
            cols="12"
            sm="6"
            md="4"
          >
            <!-- A link to the service's page -->
            <NuxtLink :to="`/account/${paramIdAccount}/provider/${paramIdProviderCredentials}/service/${asset.assetID}/informations-generales`">
              <v-card>
                <!-- 1 - the asset's name -->
                <v-card-title>{{ asset.assetName }}</v-card-title>

                <!-- 2 - Whether the asset is active or not -->
                <v-container fluid>
                  <!-- A row for the centered switch -->
                  <v-row align="center" justify="center">
                    <!-- col 1 : text -->
                    <v-col class="text-center" cols="6">
                      Status :
                    </v-col>

                    <!-- col 2 : re-text -->
                    <v-col cols="6">
                      <div v-if="asset.running" class="success--text">
                        ON
                      </div>
                      <div v-else class="error--text">
                        OFF
                      </div>
                    </v-col>
                  </v-row>
                </v-container>

                <!-- 3 : if active, active since ... -->
                <v-card-subtitle v-if="asset.running">
                  Allumé depuis :
                  {{ getFormattedDateSince(asset.lastBilling.date) }}
                </v-card-subtitle>

                <!-- 3 : otherwise, last time it was used -->
                <v-card-subtitle v-else>
                  Dernière utilisation :
                  {{ getFormattedDate(asset.lastBilling.date) }}
                </v-card-subtitle>
              </v-card>
            </NuxtLink>
          </v-col>
        </v-row>
      </v-card>
    </div>
  </v-container>
</template>

<script>
// Imports
import CustomProgressBar from '@/components/custom-progress-bar'
import PathArborescence from '@/components/path-arborescence'
import MixinDate from '@/mixins/mixin-date'
import MixinRouteParams from '@/mixins/mixin-route-params'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'PageAccountProviderServices',

  components: {
    CustomProgressBar,
    PathArborescence
  },

  mixins: [MixinDate, MixinRouteParams],

  data: () => ({
    // Whether we are loading data
    isLoading: true
  }),

  computed: {
    // Imports
    ...mapGetters('assets', ['getAssets']),
    ...mapGetters('cloud_providers.credentials', ['getProviderCredentialById']),

    /** Return the provider, or a default instance */
    providerCredentials () {
      return this.getProviderCredentialById(this.paramIdProviderCredentials) || {
        id: -1,
        username: '',
        email: '',
        description: '',
        provider: {
          id: -1,
          name: ''
        }
      }
    },

    /** Return the assets, or a default instance */
    assets () {
      return this.getAssets || []
    }
  },

  async mounted () {
    // We wait for the provider's credentials
    await this.fetchProviderCredentialById({ id: this.paramIdProviderCredentials })

    // We wait for the provider's credentials's assets
    await this.fetchAssets({ providerCredentialsID: this.paramIdProviderCredentials })

    // We consider the loading done
    this.isLoading = false
  },

  methods: {
    // Imports
    ...mapActions('assets', ['fetchAssets']),
    ...mapActions('cloud_providers.credentials', ['fetchProviderCredentialById'])
  },

  head () {
    return { title: this.providerCredentials.username + ' services' }
  }
}
</script>
