<template>
  <v-app dark>
    <!-- App bar (navbar) -->
    <AppBar v-if="isAuthenticated && !firstConnexion" :id-user="idUser" />
    <AppBarEmpty v-else :is-authenticated="isAuthenticated" />

    <!-- Container for Nuxt's page -->
    <v-main>
      <div class="fill-height" fluid>
        <nuxt />
      </div>
    </v-main>

    <!-- Footer to display the year -->
    <v-footer app class="shrink d-none d-md-flex">
      <span> &copy; {{ new Date().getFullYear() }} - PFE Hyla </span>
    </v-footer>
  </v-app>
</template>

<script>
// Imports
import AppBar from '@/components/app-bar'
import AppBarEmpty from '@/components/app-bar-empty'
import MixinCss from '@/mixins/mixin-css'
import { mapGetters } from 'vuex'

export default {
  components: {
    AppBar,
    AppBarEmpty
  },

  mixins: [MixinCss],

  computed: {
    ...mapGetters('authentification', ['idUser', 'isAuthenticated', 'passwordFirstConnexion']),

    firstConnexion () {
      return this.passwordFirstConnexion !== ''
    }
  }
}
</script>
