<template>
  <!-- Menu -->
  <v-menu
    open-on-hover
    top
    offset-y
  >
    <template v-slot:activator="{ on, attrs }">
      <!-- Trigger : a button with icon -->
      <v-btn
        icon
        v-bind="attrs"
        v-on="on"
      >
        <v-icon>mdi-account</v-icon>
      </v-btn>
    </template>

    <!-- Content : list of links -->
    <v-list>
      <!-- One link per item in the list -->
      <NuxtLink
        v-for="(item, index) in items"
        :key="index"
        :to="item.to"
      >
        <v-list-item>
          <v-list-item-icon>
            <v-icon v-text="item.icon" />
          </v-list-item-icon>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>
      </NuxtLink>
    </v-list>
  </v-menu>
</template>

<script>

export default {
  name: 'ComponentAppBarMyAccountMenu',

  data () {
    return {
      // List of items
      items: [
        {
          icon: 'mdi-account-cog',
          title: 'Mon Compte',
          to: '/utilisateur/mon-compte'
        },
        {
          icon: 'mdi-logout-variant',
          title: 'Déconnexion',
          to: '/utilisateur/logout'
        }
      ]
    }
  }
}
</script>
