<template>
  <div class="background pa-2 text-right" elevation="4">
    <!-- Button to SEARCH -->
    <v-btn icon @click="search">
      <v-icon>mdi-magnify</v-icon>
    </v-btn>

    <!-- Button to FILTER -->
    <v-btn icon @click="filter">
      <v-icon>mdi-filter-outline</v-icon>
    </v-btn>

    <!-- Button to ADD -->
    <v-btn icon @click="add">
      <v-icon>mdi-plus-circle</v-icon>
    </v-btn>
  </div>
</template>

<script>
// Imports

export default {
  name: 'ComponentAppBarSecondary',

  props: {
    search: {
      type: Function,
      required: false,
      default () {
        return { message: 'clicked on SEARCH' }
      }
    },
    filter: {
      type: Function,
      required: false,
      default () {
        return { message: 'clicked on FILTER' }
      }
    },
    add: {
      type: Function,
      required: false,
      default () {
        return { message: 'clicked on ADD' }
      }
    }
  }
}
</script>
