<template>
  <div>
    <!-- App bar (navbar) -->
    <v-app-bar hide-on-scroll app>
      <v-spacer />

      <!-- App-bar logo -->
      <router-link to="/utilisateur/login">
        <!-- Logo for small screens -->
        <v-img
          class="shrink d-flex d-md-none"
          src="/logo.png"
          max-height="50"
          max-width="50"
          contain
        />

        <!-- Logo for big screens -->
        <v-img
          class="shrink d-none d-md-flex"
          src="/logo-text.png"
          max-height="80"
          max-width="180"
          contain
        />
      </router-link>

      <v-spacer />

      <!-- Menu on the right : opens a menu for account actions -->
      <AppBarMyAccountMenu v-if="isAuthenticated" />
    </v-app-bar>
  </div>
</template>

<script>
// Imports
import AppBarMyAccountMenu from '@/components/app-bar-empty'

export default {
  name: 'ComponentAppBarDefault',

  components: {
    AppBarMyAccountMenu
  },

  props: {
    isAuthenticated: {
      type: Boolean,
      required: false,
      default: true
    }
  }
}
</script>
