<template>
  <!-- App bar (navbar) -->
  <v-app-bar dense flat hide-on-scroll app>
    <!-- Button on the left : go to dashboard -->
    <NuxtLink :to="`/account/${idUser}/tableau-de-bord`">
      <v-btn icon>
        <v-icon>mdi-home</v-icon>
      </v-btn>
    </NuxtLink>

    <v-spacer />

    <!-- App-bar logo -->
    <router-link to="/">
      <!-- Logo for small screens -->
      <v-img
        class="zoom-sm shrink d-flex d-md-none"
        src="/logo.png"
        max-height="50"
        max-width="50"
        contain
      />

      <!-- Logo for big screens -->
      <v-img
        class="zoom-sm shrink d-none d-md-flex"
        src="/logo-text.png"
        max-height="80"
        max-width="180"
        contain
      />
    </router-link>

    <v-spacer />
    <!-- Menu on the right : opens a menu for account actions -->
    <AppBarMyAccountMenu />

    <!-- Tabs -->
    <template v-slot:extension>
      <v-tabs
        v-model="tab"
        grow
        icons-and-text
        center-active
        centered
        optional
      >
        <v-menu
          v-for="(item, i) in itemsTab"
          :key="i"
          offset-y
          open-on-hover
          origin="center center"
          transition="scale-transition"
        >
          <!-- TRIGGER -->
          <template v-slot:activator="{ on, attrs }">
            <v-tab :to="item.to" router exact v-bind="attrs" v-on="on">
              <span class="shrink d-none d-sm-flex">{{ item.title }}</span>
              <v-icon>{{ item.icon }}</v-icon>
            </v-tab>
          </template>

          <!-- LIST (if any) -->
          <v-list
            v-if="typeof item.content !== 'undefined' && item.content.length !== 0"
          >
            <v-list-item
              v-for="(content, index) in item.content"
              :key="index"
              :to="content.to"
            >
              <!-- image (if exists !) -->
              <v-img
                v-if="typeof content.src !== 'undefined'"
                class="ma-2"
                :src="content.src"
                max-height="25"
                max-width="25"
                contain
              />

              <!-- icon (if exists !) -->
              <v-icon v-if="typeof content.icon !== 'undefined'" class="ma-2">
                {{ content.icon }}
              </v-icon>

              <!-- text -->
              <v-list-item-title>{{ content.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-tabs>

      <!-- Link to utilisateurs -->
      <NuxtLink v-if="isAdmin" to="/utilisateurs">
        <v-btn icon>
          <v-icon>mdi-account-group</v-icon>
        </v-btn>
      </NuxtLink>
    </template>
  </v-app-bar>
</template>

<script>
// Imports
import AppBarMyAccountMenu from '@/components/app-bar-my-account-menu'
import MixinRouteParams from '@/mixins/mixin-route-params'
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'ComponentAppBar',

  components: {
    AppBarMyAccountMenu
  },

  mixins: [MixinRouteParams],

  props: {
    idUser: {
      type: Number,
      required: true
    }
  },

  data () {
    return {
      // Active tab of the v-tabs
      tab: null,
      isAdmin: false
    }
  },

  computed: {
    // Imports
    ...mapGetters('users', ['getUserByID']),

    /** Items to display when displaying a provider */
    itemsTabProvider () {
      return [
        {
          icon: 'mdi-book-information-variant',
          title: 'Informations Générales',
          to: `/account/${this.paramIdAccount}/provider/${this.paramIdProviderCredentials}/informations-generales`
        },
        {
          icon: 'mdi-calendar-check',
          title: 'Services',
          to: `/account/${this.paramIdAccount}/provider/${this.paramIdProviderCredentials}/services`
        },
        {
          icon: 'mdi-pencil-ruler',
          title: 'Règles',
          to: `/account/${this.paramIdAccount}/provider/${this.paramIdProviderCredentials}/regles`
        }
      ]
    },

    /** Items to display for an Admin */
    itemsTabAdmin () {
      return [
        {
          icon: 'mdi-account-multiple',
          title: 'Comptes clients',
          to: '/compte-client'
        },
        {
          icon: 'mdi-currency-usd',
          title: 'Facturation Globale',
          to: '/facturation-globale'
        }
      ]
    },

    /** Items to display for a User */
    itemsTabUser () {
      return [
      ]
    },

    /** Items to display */
    itemsTab () {
      return this.isInProviderCredentials ? this.itemsTabProvider : this.isAdmin ? this.itemsTabAdmin : this.itemsTabUser
    },

    /** Data of the logged-in user */
    connectedUser () {
      return {
        id: -1,
        username: 'John Doe'
      }
    }
  },

  async mounted () {
    // We get the user
    await this.fetchUser({ userID: this.idUser })
    const user = this.getUserByID(this.idUser)

    // We check if he has access rights
    this.isAdmin = user.role.id === 1
  },

  methods: {
    ...mapActions('users', ['fetchUser'])
  }
}
</script>
