<template>
  <v-container>
    <!-- Text of the currently selected value -->
    <h2 class="text-center">
      <div>
        {{ date }}
      </div>
      <div>
        {{ currentValue + ' euros  ' }}
      </div>
    </h2>

    <!-- Graph -->
    <v-card color="white">
      <TrendChart
        :height="'400px'"
        :datasets="[
          {
            data: dataset,
            smooth: false,
            fill: false,
            showPoints: true
          }
        ]"
        :grid="{
          verticalLines: true,
          verticalLinesNumber: 0,
          horizontalLines: true,
          horizontalLinesNumber: 1
        }"
        :labels="{
          xLabels: xlabel,
          yLabels: 5
        }"
        :min="0"
        :interactive="true"
        @mouse-move="onMouseMove"
      />
    </v-card>
  </v-container>
</template>

<script>
// Imports
import { mapGetters, mapActions } from 'vuex'
import TrendChart from 'vue-trend-chart'

export default {
  name: 'BillingComponent',

  components: {
    TrendChart
  },

  props: {
    assetId: {
      type: String,
      required: false,
      default: ''
    },
    showLabel: {
      type: Boolean,
      required: false,
      default: true
    }
  },

  data: () => ({
    /** Default values for the graph */
    value: [
      423,
      446,
      675,
      510,
      590,
      610,
      760
    ],
    currentValue: 0,
    date: '0'

  }),

  computed: {
    // Imports
    ...mapGetters('assets', ['getAssetByID']),
    ...mapGetters('assets', ['getCost']),

    /** Asset we are displaying */
    asset () {
      return this.getAssetByID(this.assetId)
    },

    /** Asset's cost */
    cost () {
      return this.getCost()
    },

    /** ? */
    dataset () {
      if (this.cost === undefined) {
        return this.value
      }
      return this.cost.length > 1 ? this.cost.map((c) => {
        return { value: c.amount, date: c.date }
      }) : this.value
    },

    /** ? */
    xlabel () {
      if (!this.showLabel) {
        return []
      }
      if (this.cost === undefined) {
        return []
      }
      return this.cost.length > 1 ? this.cost.map(c => c.date) : []
    }
  },

  mounted () {
  },

  methods: {
    // Imports
    ...mapActions('assets', ['getBilling']),

    onMouseMove (params) {
      if (params !== null) {
        this.currentValue = params.data[0].value
        this.date = params.data[0].date
      }
    }
  }
}
</script>
