<template>
  <!-- Card -->
  <v-card shaped>
    <!-- Form -->
    <v-form ref="formPassword" v-model="formPassword">
      <v-row class="d-flex justify-center ma-4">
        <v-col cols="12" md="8">
          <!-- 1 - Old password (not if accessing it for the 1st time) -->
          <v-text-field
            v-if="enterOldPassword"
            v-model="oldPasswordLocal"
            :append-icon="showOldPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required]"
            :type="showOldPassword ? 'text' : 'password'"
            name="oldPasswordLocal"
            label="Ancien mot de passe"
            required:type="showOldPassword ? 'text' : 'password'"
            @click:append="showOldPassword = !showOldPassword"
          />

          <!-- 2 - New Password -->
          <v-text-field
            v-model="newPassword"
            :append-icon="showNewPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required, rules.min, rules.passwordFirstConnexion]"
            :type="showNewPassword ? 'text' : 'password'"
            name="newPassword"
            label="Nouveau mot de passe"
            required:type="showNewPassword ? 'text' : 'password'"
            @click:append="showNewPassword = !showNewPassword"
          />

          <!-- 3 - New password verification -->
          <v-text-field
            v-model="newPasswordVerif"
            :append-icon="showNewPasswordVerif ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required, rules.min, rules.passwordFirstConnexion, rules.passwordMatch(newPassword)]"
            :type="showNewPasswordVerif ? 'text' : 'password'"
            name="newPasswordVerif"
            label="Confirmer le mot de passe"
            required:type="showNewPasswordVerif ? 'text' : 'password'"
            @click:append="showNewPasswordVerif = !showNewPasswordVerif"
          />

          <!-- 4 - Submit button -->
          <center>
            <v-btn
              elevation="2"
              @click="setPassword"
            >
              Valider
            </v-btn>
          </center>
        </v-col>
      </v-row>
    </v-form>
  </v-card>
</template>

<script>
import MixinRules from '@/mixins/mixin-rules'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'ComponenCardPassword',

  mixins: [MixinRules],

  props: {
    enterOldPassword: {
      type: Boolean,
      required: false,
      default: true
    }
  },

  data () {
    return {
      // Form holder
      formPassword: false,

      // Password placeholders
      oldPasswordLocal: '',
      newPassword: '',
      newPasswordVerif: '',

      // Whether to show each password
      showOldPassword: false,
      showNewPassword: false,
      showNewPasswordVerif: false
    }
  },

  computed: {
    // Imports
    ...mapGetters('authentification', ['passwordFirstConnexion']),

    // Returns the password, either :
    // - If modify the password : one store locally
    // - If accessing the website for the 1st time :  the one stored in the store
    oldPassword () {
      return (this.enterOldPassword) ? this.oldPasswordLocal : this.passwordFirstConnexion
    }
  },

  methods: {
    // Imports
    ...mapActions('authentification', ['modifyPassword']),

    /** Method to change the password of the user */
    async setPassword () {
      // If the form is valid
      if (this.$refs.formPassword.validate()) {
        // Modify the password of the user in the database
        const response = await this.modifyPassword({ oldPassword: this.oldPassword, newPassword: this.newPassword })

        // If there was no error
        if (!response.err) {
          // Depending on whether we entered the old password or not
          // We send an event OR refresh the page
          if (this.enterOldPassword) {
            this.$emit('passwordValidated')
          } else {
            // Refresh for the middlewares
            await location.reload()
          }
        }
      }
    }
  }
}
</script>
