<template>
  <v-card
    class="d-flex flex-column justify-space-around mx-6 my-10 pa-2"
    height="auto"
    outlined
    min-width="400"
    max-width="400"
  >
    <v-card-title>
      <!-- ALERT - displayed if an error occurs or if a user is successfully added -->
      <v-alert
        v-if="error || success"
        dense
        outlined
        prominent
        dismissible
        :type="!!error ? 'error' : 'success'"
        transition="scale-transition"
      >
        {{ message }}
      </v-alert>
      <v-spacer />
      <v-btn
        v-if="!isModifying"
        icon
        dark
        large
        color="primary"
        @click="isModifying = !isModifying"
      >
        <v-icon>mdi-pencil</v-icon>
      </v-btn>
    </v-card-title>

    <v-card-text>
      <!-- Form -->
      <v-form ref="formEditAccount" v-model="formEditAccount">
        <!-- Name -->
        <h3>Nom :</h3>
        <v-col>
          <v-text-field
            v-model="teamName"
            :disabled="!isModifying"
            :clearable="isModifying"
            :rules="[rules.required, rules.maxSmall]"
          />
        </v-col>

        <!-- admin Client -->
        <h3>Administrateur du compte client :</h3>
        <v-autocomplete
          v-model="idAdminClient"
          :items="team.users"
          :disabled="!isModifying"
          filled
          chips
          :rules="[rules.required, rules.noEmptyAdmin]"
          label="Sélectionner l'administrateur"
          item-text="nameLast"
          item-value="idUser"
        >
          <!-- Chip representing the selected users -->
          <template v-slot:selection="data">
            <v-chip
              v-bind="data.attrs"
              :input-value="data.selected"
              close
              @click="data.select"
              @click:close="idAdminClient = -1"
            >
              <v-avatar left>
                <v-img :src="data.item.avatar || '/logo.png'" />
              </v-avatar>
              {{ data.item.nameFirst + ' ' + data.item.nameLast }}
            </v-chip>
          </template>

          <!-- List of users we can select -->
          <template v-slot:item="data">
            <!-- In case we don't have an item (ex : a line to separate several groups) -->
            <!-- check here https://v2.vuetifyjs.com/en/components/autocompletes/#slots -->
            <template v-if="typeof data.item !== 'object'">
              <v-list-item-content v-text="data.item" />
            </template>

            <!-- In case we have an regular item -->
            <template v-else>
              <!-- User's picture -->
              <v-list-item-avatar>
                <img :src="data.item.avatar || '/logo.png'">
              </v-list-item-avatar>

              <!-- User's data -->
              <v-list-item-content>
                <v-list-item-title>{{ data.item.nameFirst + ' ' + data.item.nameLast }}</v-list-item-title>
                <v-list-item-subtitle>{{ data.item.id }}</v-list-item-subtitle>
              </v-list-item-content>
            </template>
          </template>
        </v-autocomplete>
      </v-form>
    </v-card-text>

    <v-card-actions v-if="isModifying">
      <!-- Cancel -->
      <v-btn
        large
        dark
        @click="cancel()"
      >
        Annuler
      </v-btn>

      <v-spacer />

      <!-- Save -->
      <v-btn
        large
        color="primary"
        @click="save()"
      >
        Modifier
      </v-btn>
    </v-card-actions>

    <v-card-text>
      <!-- Add a new member to the team  -->
      <h3>
        Ajouter un utilisateur :
      </h3>
      <v-row class="ma-2">
        <!-- Picker to select the users to add -->
        <!-- :item-text="['nameFirst', 'nameLast']" -->
        <v-autocomplete
          v-model="selectedUsers"
          :items="filteredUsers"
          filled
          chips
          label="Utilisateurs à ajouter"
          item-text="nameLast"
          item-value="id"
          multiple
          no-data-text="Il n'y a aucun utilisateur disponible !"
        >
          <!-- Chip representing the selected users -->
          <template v-slot:selection="data">
            <v-chip
              v-bind="data.attrs"
              :input-value="data.selected"
              close
              @click="data.select"
              @click:close="removeUser(data.item)"
            >
              <v-avatar left>
                <v-img :src="data.item.avatar || '/logo.png'" />
              </v-avatar>
              {{ data.item.nameFirst + ' ' + data.item.nameLast }}
            </v-chip>
          </template>

          <!-- List of users we can select -->
          <template v-slot:item="data">
            <!-- In case we don't have an item (ex : a line to separate several groups) -->
            <!-- check here https://v2.vuetifyjs.com/en/components/autocompletes/#slots -->
            <template v-if="typeof data.item !== 'object'">
              <v-list-item-content v-text="data.item" />
            </template>

            <!-- In case we have an regular item -->
            <template v-else>
              <!-- User's picture -->
              <v-list-item-avatar>
                <img :src="data.item.avatar || '/logo.png'">
              </v-list-item-avatar>

              <!-- User's data -->
              <v-list-item-content>
                <v-list-item-title>{{ data.item.nameFirst + ' ' + data.item.nameLast }}</v-list-item-title>
                <v-list-item-subtitle>{{ data.item.id }}</v-list-item-subtitle>
              </v-list-item-content>
            </template>
          </template>
        </v-autocomplete>

        <v-btn
          icon
          fab
          large
          color="primary"
          @click="addUsersToTeam()"
        >
          <v-icon>mdi-plus-circle-outline</v-icon>
        </v-btn>
      </v-row>

      <!-- Members of the team -->
      <v-list v-if="!!team.users">
        <v-list-group
          no-action
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>
                Utilisateurs
              </v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="user in team.users"
            :key="user.idUser"
          >
            <v-list-item-content>
              <v-list-item-title>
                {{ user.nameFirst + ' ' + user.nameLast }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </v-list>
    </v-card-text>

    <!-- Divider -->
    <v-divider />

    <v-card-actions v-if="!isModifying">
      <v-spacer />
      <!-- Go to 'Tableau de Bord' -->
      <!-- TODO: relier au tableau de bord du compte client en question -->
      <v-btn
        large
        color="primary"
        to="/tableau_de_bord"
      >
        Tableau de bord
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import MixinRules from '@/mixins/mixin-rules'
import { mapActions } from 'vuex'
const lodash = require('lodash')

export default {
  name: 'OrderCard',

  mixins: [MixinRules],

  props: {
    team: {
      type: Object,
      required: true
    },
    users: {
      type: Array,
      required: true
    }
  },

  data: () => ({
    isModifying: false,
    teamName: '',
    idAdminClient: -1,
    error: false,
    success: false,
    message: '',

    // Whether the form to edit the account is valid or not
    formEditAccount: false,

    // List of selected users
    selectedUsers: []
  }),

  computed: {
    /** List of users that are not in the team */
    filteredUsers () {
      // We declare a list of users
      const filtered = lodash.cloneDeep(this.users)

      // We remove all users already in the team
      if (this.team.users !== undefined) {
        this.team.users.forEach((user) => {
          const index = filtered.findIndex(_ => _.id === user.idUser)

          if (index !== -1) {
            filtered.splice(index, 1)
          }
        })
      }

      // We return the team
      return filtered
    }
  },

  mounted () {
    this.teamName = this.team.name
    this.idAdminClient = this.team.adminClient.idUser
  },

  methods: {
    // imports
    ...mapActions('teams', ['addUsers', 'addUser', 'modifyTeam']),

    /** Adds users to the team */
    async addUsersToTeam () {
      // We send the request to the server
      const res = await this.addUsers({
        teamID: this.team.idequipe,
        userIDs: this.selectedUsers.map((idUser) => { return { idUser } })
      })

      // Depending on the server's response
      if (res.err) {
        // ERROR
        this.error = true
        this.success = false
        this.message = this.errorMessages.failedAddUser_ClientAccount
      } else {
        // SUCCESS
        this.error = false
        this.success = true
        this.message = this.successMessages.successAddUser_ClientAccount

        // We reset the array of selected users
        this.selectedUsers = []
      }
    },

    /** Cancels the modification brought to the team */
    cancel () {
      this.isModifying = !this.isModifying
      this.teamName = this.team.name
      this.idAdminClient = this.team.adminClient.idUser
      this.error = false
      this.success = false
      this.message = ''
    },

    /** Saves the new data of the team */
    async save () {
      // If the form is valid
      if (this.$refs.formEditAccount.validate() && this.idAdminClient !== -1) {
        // We get the server's response
        const res = await this.modifyTeam({
          teamID: this.team.idequipe,
          name: this.teamName,
          adminID: this.idAdminClient
        })

        // If there is an error : reset the form
        // Otherwise : good ^^
        if (res.err) {
          this.teamName = this.team.name
          this.idAdminClient = this.team.adminClient.idUser

          this.error = true
          this.message = this.errorMessages.failedModifyTeam_ClientAccount
        } else {
          this.isModifying = false
          this.error = false
          this.message = ''
          this.$emit('teamModified', this.team.idequipe)
        }
      } else {
        // The form isn't valid
        this.error = true
        this.message = 'Veuillez compléter le formulaire'
      }
    },

    /** Remove a user from the list */
    removeUser (item) {
      // We get the index where to remove the user
      const index = this.selectedUsers.findIndex(_ => _ === item.id)

      // If valid, we remove the user at the found index
      if (index >= 0) {
        this.selectedUsers.splice(index, 1)
      }
    }
  }
}
</script>
