<template>
  <!-- Path links -->
  <p>
    <!-- 1 : if any, we display the dashboard -->
    <span v-if="isInAccount">
      <NuxtLink :to=" `/account/${paramIdAccount}/tableau-de-bord`">
        tableau de bord
      </NuxtLink>

      <!-- 2 : if any, we display the account's provider credentials -->
      <span v-if="isInProviderCredentials">
        >
        <NuxtLink :to=" `/account/${paramIdAccount}/provider/${paramIdProviderCredentials}/informations-generales`">
          provider
        </NuxtLink>

        <!-- 3 : if any, we display the account's provider's service -->
        <span v-if="isInService">
          >
          <NuxtLink :to=" `/account/${paramIdAccount}/provider/${paramIdProviderCredentials}/service/${paramIdAsset}/informations-generales`">
            service
          </NuxtLink>
        </span>
      </span>
    </span>
  </p>
</template>

<script>
// Imports
import MixinRouteParams from '@/mixins/mixin-route-params'

export default {
  name: 'ComponentPathArborescence',

  mixins: [MixinRouteParams]
}
</script>
