<template>
  <v-container>
    <!-- When loading : progress-bar -->
    <CustomProgressBar
      v-if="isLoading"
      message="Chargement des données du service..."
    />

    <!-- Otherwise : the page -->
    <div>
      <!-- Refresh time -->
      <v-container fluid>
        <!-- A row to center horizontally -->
        <v-row align="center" justify="center">
          <v-col cols="12" md="6">
            <!-- A row for the centered refresh's select -->
            <v-row align="center" justify="center">
              <!-- col 1 : text -->
              <v-col class="text-center" cols="12" sm="6">
                Taux de rafraichissement :
              </v-col>

              <!-- col 2 : select -->
              <v-col cols="12" sm="6">
                <v-select
                  v-model="refreshSelected"
                  :items="refreshItems"
                  label="Select"
                  single-line
                />
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>

      <!-- List of all the accounts -->
      <v-container fluid>
        <!-- Account's providers (if any) -->
        <div v-if="accounts.length !== 0">
          <!-- We iterate through the accounts -->
          <v-card v-for="account in accounts" :key="account.idequipe">
            <!-- Account's title -->
            <v-row>
              <v-col cols="12" sm="8">
                <v-container fill-height>
                  <h3 class="text-center text-sm-left">
                    {{ account.name }}
                  </h3>
                </v-container>
              </v-col>

              <!-- Dialog to add a provider to the current account -->
              <v-col cols="12" sm="4" class="text-center text-sm-right">
                <v-btn
                  v-if="(account.adminClient.idUser === idUser)"
                  icon
                  fab
                  large
                  color="primary"
                  @click="providerNewOpen(account.idequipe)"
                >
                  <v-icon>mdi-plus-circle-outline</v-icon>
                </v-btn>
              </v-col>
            </v-row>
            <!-- Account's providers (if any) -->
            <v-container v-if="account.providerCredentials.length !== 0">
              <v-row>
                <!-- We iterate through the account's providers -->
                <v-col
                  v-for="provider in account.providerCredentials"
                  :key="provider.idprovider_credential"
                  cols="12"
                  sm="6"
                  md="4"
                >
                  <!-- Card when displaying a provider -->
                  <v-card v-if="idProviderEdited !== provider.idprovider_credential || !(account.adminClient.idUser === idUser)">
                    <!-- A link to, IF ADMIN, the detail of the service -->
                    <NuxtLink
                      :to=" `/account/${account.idequipe}/provider/${provider.idprovider_credential}/informations-generales`"
                    >
                      <!-- Provider's title -->
                      <v-card-title>{{ provider.username }}</v-card-title>

                      <!-- Provider's services -->
                      <v-card-text>
                        <!-- Provider's services (if any) -->
                        <v-container v-if="provider.services !== undefined && provider.services.length !== 0">
                          {{ provider.services.length }}
                          {{
                            provider.services.length > 1 ? "Services" : "Service"
                          }}
                          :
                          <!-- Counter of working services -->
                          <v-container>
                            {{
                              provider.services.filter((s) => s.running).length
                            }}
                            {{
                              provider.services.filter((s) => s.running).length > 1
                                ? "services allumés"
                                : "service allumé"
                            }}
                          </v-container>

                          <!-- Counter of sleeping services -->
                          <v-container>
                            {{
                              provider.services.filter((s) => !s.running).length
                            }}
                            {{
                              provider.services.filter((s) => !s.running)
                                .length > 1
                                ? "services éteints"
                                : "service éteint"
                            }}
                          </v-container>
                        </v-container>

                        <!-- Provider's services (otherwise, error message) -->
                        <v-container v-else class="text-center">
                          Ce compte ne possède aucun service
                        </v-container>
                      </v-card-text>
                    </NuxtLink>

                    <!-- Divider (if admin) -->
                    <v-divider v-if="(account.adminClient.idUser === idUser)" />

                    <!-- Actions for the Provider (if admin) -->
                    <v-card-actions v-if="(account.adminClient.idUser === idUser)">
                      <!-- Button -->
                      <v-btn icon @click="providerEdit(account.idequipe, provider.idprovider_credential)">
                        <v-icon>mdi-pencil</v-icon>
                      </v-btn>

                      <!-- Button Delete -->
                      <v-btn
                        icon
                        @click="providerDelete(account.idequipe, provider.idprovider_credential)"
                      >
                        <v-icon>mdi-delete</v-icon>
                      </v-btn>
                    </v-card-actions>
                  </v-card>

                  <!-- Card when editing a provider (must be admin) -->
                  <v-card v-else-if="idProviderEdited === provider.idprovider_credential && (account.adminClient.idUser === idUser)">
                    <v-form ref="formProviderEdit" v-model="formProviderEdit">
                      <!-- 1 - provider's name -->
                      <v-container>
                        <div class="text-center">
                          Nom du provider
                        </div>

                        <v-text-field
                          v-model="providerEdited.username"
                          label="Nom du provider"
                          clearable
                          :rules="[rules.required, rules.maxSmall]"
                          type="text"
                        />
                      </v-container>

                      <!-- 1 - provider's credentials -->
                      <v-container>
                        <div class="text-center">
                          Identifiants
                        </div>

                        <!-- 1a - provider's credentials username -->
                        <v-text-field
                          v-model="providerEdited.email"
                          label="Username"
                          clearable
                          :rules="[rules.required, rules.maxSmall]"
                          type="text"
                        />

                        <!-- 1b - provider's credentials password -->
                        <!-- <v-text-field
                          v-model="providerEdited.password"
                          label="Mot de passe"
                          clearable
                          :rules="[rules.required, rules.maxSmall]"
                          type="password"
                        /> -->
                      </v-container>
                    </v-form>

                    <!-- Divider -->
                    <v-divider />

                    <!-- Actions for the Provider -->
                    <v-card-actions>
                      <v-flex>
                        <!-- Button Discard -->
                        <v-btn color="warning" text @click="providerDiscard()">
                          Restaurer
                        </v-btn>

                        <!-- Button Save -->
                        <v-btn color="success" text @click="providerSave()">
                          Sauvegarder
                        </v-btn>
                      </v-flex>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>

            <!-- Account's providers (otherwise, error message) -->
            <div v-else>
              <h3 class="error--text text-center">
                Aucun provider Cloud n'a été trouvé
              </h3>
            </div>
          </v-card>
        </div>

        <!-- Accounts (otherwise, error message) -->
        <div v-else>
          <h3 class="error--text text-center">
            Aucun compte n'a été trouvé
          </h3>
        </div>
      </v-container>

      <!-- Dialog to add a provider to an account -->
      <v-dialog v-model="dialogNewProvider" width="500">
        <!-- Dialog to create a new provider -->
        <v-card>
          <v-card-title>
            <span class="headline">New Provider</span>
          </v-card-title>

          <v-card-text>
            <v-container>
              <!-- Form -->
              <v-form ref="formProviderNew" v-model="formProviderNew">
                <!-- Inputs for the new provider -->
                <v-row>
                  <!-- New provider : name -->
                  <v-col cols="12">
                    <v-text-field
                      v-model="providerNew.name"
                      label="Name"
                      :rules="[rules.required, rules.maxSmall]"
                    />
                  </v-col>

                  <!-- New provider : username -->
                  <v-col cols="12">
                    <div class="d-flex justify-center">
                      <v-text-field
                        v-model="providerNew.username"
                        label="email"
                        clearable
                        :rules="[rules.required, rules.maxSmall]"
                      />
                    </div>
                  </v-col>

                  <!-- 1b - provider's credentials password -->
                  <v-text-field
                    v-model="providerNew.password"
                    label="password"
                    clearable
                    :rules="[rules.required, rules.maxSmall]"
                    type="password"
                  />
                </v-row>
              </v-form>
            </v-container>
          </v-card-text>

          <!-- ALERT - displayed if an error occurs -->
          <v-container>
            <v-alert
              :value="errorProviderNew"
              dense
              outlined
              prominent
              dismissible
              type="error"
              transition="scale-transition"
            >
              {{ errorMessageProviderNew }}
            </v-alert>
          </v-container>

          <!-- Divider -->
          <v-divider />

          <!-- Actions -->
          <v-card-actions>
            <v-spacer />

            <!-- Button - cancel -->
            <v-btn color="warning" text @click="providerNewClose()">
              Cancel
            </v-btn>

            <!-- Button - create -->
            <v-btn color="primary" text @click="providerNewSave()">
              Create new provider !
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </v-container>
</template>

<script>
// Imports
import MixinRules from '@/mixins/mixin-rules'
import { mapActions, mapGetters } from 'vuex'
const lodash = require('lodash')

export default {
  name: 'PageTableauDeBord',

  mixins: [MixinRules],

  data: () => ({
    // Refresh time
    refreshSelected: '5 minutes',
    refreshItems: [
      '5 minutes',
      '15 minutes',
      '30 minutes',
      '1 hour',
      '2 hours',
      '8 hours',
      '24 hours'
    ],

    // Whether the page is loading
    isLoading: true,

    // Accounts
    accounts: [],

    // form models
    formProviderNew: false,
    formProviderEdit: false,
    indexNew: -1,
    indexEdit: -1,
    errorProviderNew: false,
    errorProviderEdit: false,
    errorMessageProviderNew: '',
    errorMessageProviderEdit: '',

    // Edited provider
    idProviderEdited: -1,
    providerNew: {
      name: '',
      username: '',
      password: '',
      description: 'desciption',
      provider: 1
    },
    providerEdited: {
      name: '',
      username: '',
      password: ''
    },

    // Eventual error message
    errorMessage: '',
    dialogNewProvider: false,

    // information necessary for the add
    idteamForAdd: 0
  }),

  computed: {
    ...mapGetters('teams', ['getAllTeams']),
    ...mapGetters('asset', ['getAssetByID']),
    ...mapGetters('authentification', ['idUser'])
  },

  async mounted () {
    // We get all the Teams of the user
    await this.fetchTeamForUser({ userID: this.idUser })

    // We get a specific account from the team
    const account = this.getAllTeams()

    // We iterate through the accounts
    account.forEach((element) => {
      this.accounts.push(element)
    })
    // this.accounts.push(account)

    // We consider the loading done
    this.isLoading = false
  },

  methods: {
    // Imports
    ...mapActions('teams', ['fetchTeamForUser', 'addProviderCredentials']),
    ...mapActions('assets', ['fetchAssets']),
    ...mapActions('cloud_providers.credentials', ['createProviderCredential', 'modifyProviderCredential', 'deleteCredentials']),

    /**
     * Opens the creation of a new provider
     * @param {int} idAccount Id of the account where the provider is created
     */
    providerNewOpen (idAccount) {
      this.idteamForAdd = idAccount
      // If possible, we reset the form
      if (this.$refs.formProviderNew !== undefined) {
        this.$refs.formProviderNew.reset()
      }

      // We close the error, just in case
      this.errorProviderNew = false
      this.errorMessageProviderNew = ''

      // We set the index where the account is located
      this.indexNew = this.accounts.findIndex(a => a.idequipe === idAccount)

      // We open the dialog
      this.dialogNewProvider = true
    },

    /** Opens the edition of a new provider */
    providerNewClose () {
      // We reset the index
      this.indexNew = -1

      // We close the dialog
      this.dialogNewProvider = false

      // We close the error, just in case
      this.errorProviderNew = false
      this.errorMessageProviderNew = ''
    },

    /** Edits the current provider */
    async providerNewSave () {
      if (this.$refs.formProviderNew.validate()) {
        const data = await this.createProviderCredential({ username: this.providerNew.name, email: this.providerNew.username, description: this.providerNew.description, password: this.providerNew.password, idProvider: this.providerNew.provider })

        const result = await this.addProviderCredentials({ teamID: this.idteamForAdd, providerID: data.idprovider_credential })
        // const itWorked = true

        // If the back worked, close the dialog
        // Otherwise, display an error
        if (result.err === false) {
          // We add the account
          this.accounts[this.indexNew].providerCredentials.push(data)

          // We close the dialog
          this.providerNewClose()
        } else {
          // We set the error
          this.errorProviderNew = true
          this.errorMessageProviderNew = this.errorMessages.failedProviderNew
        }
      }
    },

    /**
     * Edits the current provider
     * @param {int} idAccount Id of the account where the provider is located
     * @param {int} idProvider Id of the provider we want to edit
     */
    providerEdit (idAccount, idProvider) {
      // We get the account
      const account = this.accounts.find(a => a.idequipe === idAccount)

      // if the account is found
      if (account !== undefined) {
        // We get the account's provider
        const provider = account.providerCredentials.find(p => p.idprovider_credential === idProvider)

        // if the account's provider is found
        if (provider !== undefined) {
          // We set the object to edit with the provider's data
          this.providerEdited = lodash.cloneDeep(provider)

          // We set the id of the provider to edit
          this.idAccountEdited = idAccount

          // We set the id of the provider to edit
          this.idProviderEdited = idProvider
        }
      }
    },

    /** Discards the changes to the current provider */
    providerDiscard () {
      // We reset the id of the provider to edit
      this.idProviderEdited = -1
    },

    /** Saves the changes to the current provider */
    async providerSave () {
      // If the form is valid (testing with form at index 0, weirdly it works)
      if (this.$refs.formProviderEdit[0].validate()) {
        // We get the account
        const indexAccount = this.accounts.findIndex(a => a.idequipe === this.idAccountEdited)

        // if the account is found
        if (indexAccount >= 0) {
          // We get the account's provider
          const indexProvider = this.accounts[indexAccount].providerCredentials.findIndex(p => p.idprovider_credential === this.idProviderEdited)

          // if the account's provider is found
          if (indexProvider >= 0) {
            // We set the object to edit with the provider's data
            const data = await this.modifyProviderCredential({ username: this.providerEdited.username, email: this.providerEdited.email, description: this.providerEdited.description, idProvider: this.providerEdited.idprovider_credential })
            this.accounts[indexAccount].providerCredentials[indexProvider] = data
            location.reload()
            // We reset the id of the provider to edit
            this.idAccountEdited = -1

            // We reset the id of the provider to edit
            this.idProviderEdited = -1
          }
        }
      }
    },

    /**
     * Deletes the current provider
     * @param {int} idAccount Id of the account where the provider is located
     * @param {int} idProvider Id of the provider we want to edit
     */
    async providerDelete (idAccount, idProvider) {
      // We get the account
      const account = this.accounts.find(a => a.idequipe === idAccount)

      // if the account is found
      if (account !== undefined) {
        // We get the provider's index
        const index = account.providerCredentials.findIndex(p => p.idprovider_credential === idProvider)

        // if the index is found
        if (index !== -1) {
          // We remove the provider
          const result = await this.deleteCredentials({ idProvider })
          if (!result.err) {
            account.providerCredentials.splice(index, 1)
          }
        }
      }
    }
  },

  head () {
    return { title: 'Dashboard' }
  }
}
</script>
