<template>
  <v-container>
    <!-- Progress bar -->
    <CustomProgressBar message="Redirection vers la page principale..." />
  </v-container>
</template>

<script>
// Imports

export default {
  name: 'PageDefault',

  mounted () {
    // We redirect toward the home page
    document.location.href = '/'
  },

  head () {
    return { title: 'Redirection ...' }
  }
}
</script>
