<template>
  <v-container>
    <!-- Add a team -->
    <template>
      <v-row justify="start">
        <!-- Dialog to create a team -->
        <v-dialog
          v-model="dialog"
          persistent
          max-width="600px"
        >
          <!-- Button to create a new account -->
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              v-bind="attrs"
              v-on="on"
            >
              Créer un compte client
              <v-icon right>
                mdi-plus-circle-outline
              </v-icon>
            </v-btn>
          </template>

          <!-- Dialog that is displayed -->
          <v-card>
            <!-- Dialog's title -->
            <v-card-title>
              <span class="headline">Nouveau Compte Client</span>
            </v-card-title>

            <!-- Dialog's body -->
            <v-card-text>
              <v-form v-model="valid">
                <v-row>
                  <!-- Account's name -->
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="newTeam.name"
                      label="Nom*"
                      clearable
                      :rules="[rules.required]"
                    />
                  </v-col>
                </v-row>

                <!-- Add a new member to the team  -->
                <h3>
                  Choisir l'administrateur :
                </h3>
                <v-autocomplete
                  v-model="newTeam.idAdminClient"
                  :items="users"
                  filled
                  chips
                  :rules="[rules.required, rules.noEmptyAdmin]"
                  label="Sélectionner l'administrateur*"
                  item-text="nameLast"
                  item-value="id"
                >
                  <!-- Chip representing the selected users -->
                  <template v-slot:selection="data">
                    <v-chip
                      v-bind="data.attrs"
                      :input-value="data.selected"
                      close
                      @click="data.select"
                      @click:close="newTeam.idAdminClient = -1"
                    >
                      <v-avatar left>
                        <v-img :src="data.item.avatar || '/logo.png'" />
                      </v-avatar>
                      {{ data.item.nameFirst + ' ' + data.item.nameLast }}
                    </v-chip>
                  </template>

                  <!-- List of users we can select -->
                  <template v-slot:item="data">
                    <!-- In case we don't have an item (ex : a line to separate several groups) -->
                    <!-- check here https://v2.vuetifyjs.com/en/components/autocompletes/#slots -->
                    <template v-if="typeof data.item !== 'object'">
                      <v-list-item-content v-text="data.item" />
                    </template>

                    <!-- In case we have an regular item -->
                    <template v-else>
                      <!-- User's picture -->
                      <v-list-item-avatar>
                        <img :src="data.item.avatar || '/logo.png'">
                      </v-list-item-avatar>

                      <!-- User's data -->
                      <v-list-item-content>
                        <v-list-item-title>{{ data.item.nameFirst + ' ' + data.item.nameLast }}</v-list-item-title>
                        <v-list-item-subtitle>{{ data.item.id }}</v-list-item-subtitle>
                      </v-list-item-content>
                    </template>
                  </template>
                </v-autocomplete>

                <!-- Add a new member to the team  -->
                <h3>
                  Ajouter un utilisateur :
                </h3>
                <!-- Picker to select the users to add -->
                <v-autocomplete
                  v-model="newTeam.users"
                  :items="users"
                  filled
                  chips
                  label="Utilisateurs à ajouter"
                  item-text="nameLast"
                  item-value="id"
                  multiple
                  no-data-text="Il n'y a aucun utilisateur disponible !"
                >
                  <!-- Chip representing the selected users -->
                  <template v-slot:selection="data">
                    <v-chip
                      v-bind="data.attrs"
                      :input-value="data.selected"
                      close
                      @click="data.select"
                      @click:close="removeUser(data.item)"
                    >
                      <v-avatar left>
                        <v-img :src="data.item.avatar || '/logo.png'" />
                      </v-avatar>
                      {{ data.item.nameFirst + ' ' + data.item.nameLast }}
                    </v-chip>
                  </template>

                  <!-- List of users we can select -->
                  <template v-slot:item="data">
                    <!-- In case we don't have an item (ex : a line to separate several groups) -->
                    <!-- check here https://v2.vuetifyjs.com/en/components/autocompletes/#slots -->
                    <template v-if="typeof data.item !== 'object'">
                      <v-list-item-content v-text="data.item" />
                    </template>

                    <!-- In case we have an regular item -->
                    <template v-else>
                      <!-- User's picture -->
                      <v-list-item-avatar>
                        <img :src="data.item.avatar || '/logo.png'">
                      </v-list-item-avatar>

                      <!-- User's data -->
                      <v-list-item-content>
                        <v-list-item-title>{{ data.item.nameFirst + ' ' + data.item.nameLast }}</v-list-item-title>
                        <v-list-item-subtitle>{{ data.item.id }}</v-list-item-subtitle>
                      </v-list-item-content>
                    </template>
                  </template>
                </v-autocomplete>
              </v-form>
            </v-card-text>

            <!-- Divider -->
            <v-divider />

            <!-- ALERT - displayed if an error occurs -->
            <v-alert
              v-if="error"
              dense
              outlined
              prominent
              dismissible
              type="error"
              transition="scale-transition"
            >
              {{ message }}
            </v-alert>

            <!-- Actions -->
            <v-card-actions>
              <small>*Champs requis pour la création d'un compte</small>
              <v-spacer />

              <!-- Button - cancel -->
              <v-btn color="warning" text @click="cancel()">
                Annuler
              </v-btn>

              <!-- Button - create -->
              <v-btn color="primary" text :disabled="!valid" @click="addNewClientAccount()">
                Ajouter
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </template>

    <!-- When loading : progress-bar -->
    <CustomProgressBar
      v-if="isLoading"
      message="Chargement des données des équipes..."
    />

    <!-- After loading : list of teams -->
    <div v-else class="d-flex justify-space-around flex-wrap">
      <client-account v-for="team in teams" :key="team.idequipe" :team="team" :users="users" />
    </div>
  </v-container>
</template>

<script>
// Imports
import CustomProgressBar from '@/components/custom-progress-bar'
import MixinRules from '@/mixins/mixin-rules'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'CompteClient',

  components: {
    CustomProgressBar
  },

  mixins: [MixinRules],

  data: () => ({
    // Whether the dialog to create a new Team is open
    dialog: false,

    // If we should display an error / success message
    valid: false,
    error: false,
    message: '',

    // Content of the new team
    newTeam: {
      name: '',
      idAdminClient: -1,
      users: []
    },

    // List of selected users
    selectedUsers: [],

    // Whether the page is loading or not
    isLoading: true
  }),

  computed: {
    ...mapGetters('teams', ['getAllTeams']),
    ...mapGetters('users', ['getUsers', 'getUserByID']),
    ...mapGetters('authentification', ['idUser']),

    /** Returns all the teams */
    teams () {
      return this.getAllTeams() || [{ idequipe: -1, users: [], bullshit: true }]
    },

    /** Returns all the users */
    users () {
      return this.getUsers() || [{ id: -1 }]
    }
  },

  watch: {
    'newTeam.idAdminClient' (item) {
      // If a new admin Id is set, and if he is not in the team yet
      if (this.newTeam.idAdminClient !== -1 && !this.newTeam.users.includes(this.newTeam.idAdminClient)) {
        // We add the admin to the team
        this.newTeam.users.push(this.newTeam.idAdminClient)
      }
    },

    'newTeam.users' (newVal, oldVal) {
      // If an admin is selected and we try to remove him
      if (this.newTeam.idAdminClient !== -1 && !newVal.includes(this.newTeam.idAdminClient)) {
        // We get the index of the admin
        const index = oldVal.findIndex(_ => _ === this.newTeam.idAdminClient)

        // If found : we re-insert the admin
        if (index !== -1) {
          this.newTeam.users.splice(index, 0, this.newTeam.idAdminClient)
        }
      }
    }
  },

  async mounted () {
    // We get the teams
    await this.fetchAllTeams()

    // We get fetch all the users
    await this.fetchAllUsers()

    // We consider the loading done
    this.isLoading = false
  },

  methods: {
    ...mapActions('teams', ['fetchAllTeams', 'fetchTeam', 'createTeam']),
    ...mapActions('users', ['fetchAllUsers', 'fetchUser']),

    /** Adds a new client */
    async addNewClientAccount () {
      // Get the server's response on the creation of a new team
      const res = await this.createTeam({
        name: this.newTeam.name,
        adminClient: {
          idUser: this.newTeam.idAdminClient
        },
        users: this.newTeam.users.map((_) => { return { idUser: _ } })
      })

      // If there is an error
      if (res.err) {
        this.error = true
        this.message = this.errorMessages.failedCreate_ClientAccount
      } else {
        this.dialog = false
        this.error = false
        this.success = false
        this.message = ''
      }
    },

    /** Cancel the creation of a new Team */
    cancel () {
      this.dialog = false
      this.error = false
      this.success = false
      this.message = ''
    },

    /** Adds a user to the new Team */
    addNewUser () {
      if (parseInt(this.newUser)) {
        const idNewUser = parseInt(this.newUser)
        if (this.users.findIndex(_ => _ === idNewUser) === -1) {
          this.users.push(idNewUser)
        }
      }
      this.newUser = ''
    },

    /** Deletes a user from the new Team */
    deleteUser (user) {
      const index = this.users.findIndex(_ => _ === user)
      if (index !== -1) {
        this.users.splice(index, 1)
      }
    },

    /** Removes a user from the new Team */
    removeUser (user) {
      // We check that the user to remove is not the admin
      if (user.id !== this.newTeam.idAdminClient) {
        // We get the index of the user
        const index = this.newTeam.users.findIndex(_ => _ === user.id)

        // If found : we remove him
        if (index !== -1) {
          this.newTeam.users.splice(index, 1)
        }
      }
    }
  }
}
</script>
