<template>
  <v-container>
    <!-- Card containing the invoice -->
    <v-card class="pa-8">
      <!-- 1 : header -->
      <v-row>
        <!-- Select to pick a team -->
        <v-col cols="12" sm="8">
          <v-row justify="center">
            <v-col cols="8">
              <v-select
                v-model="selectedTeam"
                :items="teams"
                item-text="name"
                return-object
              />
            </v-col>
          </v-row>
        </v-col>

        <!-- Meta data for the team -->
        <v-col cols="12" sm="4">
          <p>Client's name <span class="float-right">{{ user.nameFirst + ' ' + user.nameLast }}</span></p>
          <p>Issue date <span class="float-right">{{ getFormattedDate(new Date()) }}</span></p>
          <p>Due date <span class="float-right">{{ getFormattedDate(new Date()) }}</span></p>
          <p>Amount due <span class="float-right">{{ getFormattedDate(new Date()) }}</span></p>
        </v-col>
      </v-row>

      <!-- Divider -->
      <v-divider class="pa-4" />

      <h2 class="pa-4">
        Services :
      </h2>

      <!-- 2 - we iterate through the assets -->
      <v-container v-for="provider in providers" :key="provider.id" class="text-uppercase grey--text lighten-1">
        <!-- Provider -->
        <h3 class="font-weight-bold pa-4">
          {{ provider.name }}
          <span :id="provider.id" class="float-right">{{ priceTotalForProvider(provider.id) }} €</span>
        </h3>

        <!-- Divider -->
        <v-divider />

        <!-- We iterate through the provider's credentials -->
        <h4 v-for="credentials in providerCredentials.filter(_ => _.provider.id === provider.id)" :key="credentials.id" class="font-weight-bold pa-4">
          {{ credentials.username }}
          <span :id="credentials.id" class="float-right">{{ priceTotalForProviderCredentials(credentials.id).toLocaleString(undefined, { minimumFractionDigits: 2 }) }} €</span>

          <!-- We iterate through the provider's credentials assets -->
          <h5 v-for="asset in assets.filter(_ => _.idProvider_credentials === credentials.id)" :key="asset.id" class="font-weight-bold pa-4">
            {{ asset.assetName }}
            <span :id="asset.assetID" class="float-right">{{ asset.lastBilling.amount.toLocaleString(undefined, { minimumFractionDigits: 2 }) }} €</span>
          </h5>
        </h4>
      </v-container>

      <!-- 3 - total -->
      <h2 class="pa-4 font-weight-bold">
        Total <span class="float-right">{{ priceTotal() }} €</span>
      </h2>
    </v-card>
  </v-container>
</template>

<script>
// Imports
import MixinDate from '@/mixins/mixin-date'
import { mapActions, mapGetters } from 'vuex'
const lodash = require('lodash')

export default {
  name: 'PageFacturationGlobale',

  mixins: [MixinDate],

  data: () => ({
    // Whether the page is loading something
    isLoading: true,

    // Team that has been selected
    selectedTeam: {},

    // All the Providers
    providers: [],

    // All the provider credentials of the selected team
    providerCredentials: [],

    // All the assets a given team has access to
    assets: []
  }),

  computed: {
    ...mapGetters('assets', ['getCost', 'getAssets', 'getAssetByID']),
    ...mapGetters('authentification', ['idUser']),
    ...mapGetters('cloud_providers', ['getProviders']),
    ...mapGetters('cloud_providers.credentials', ['getProviderCredentialById']),
    ...mapGetters('teams', ['getAllTeams']),
    ...mapGetters('users', ['getUserByID']),

    // List of all the teams
    teams () {
      // We get the list of Teams from the store
      const teamList = lodash.cloneDeep(this.getAllTeams())

      // We sort the teams by name
      teamList.sort((a, b) => {
        // We set the names to lowercase
        const fa = a.name.toLowerCase()
        const fb = b.name.toLowerCase()

        return (fa < fb) ? -1 : (fa > fb) ? 1 : 0
      })

      // We return the ordered list
      return teamList
    },

    // BEWARE : use the idUser !
    user () {
      return this.getUserByID(this.idUser) || { nameFirst: '', nameLast: '' }
    }
  },

  watch: {
    // Whenever the user selects another team
    selectedTeam (val) {
      // We reset the list of provider Credentials
      this.providerCredentials = []
      // We reset the list of assets
      this.assets = []

      // We iterate through the credentials of the selected team
      this.selectedTeam.providerCredentials.forEach(async (provider) => {
        // We get each credential
        await this.fetchProviderCredentialById({ id: provider.idprovider_credential })

        // We get the provider's credentials
        const currentCredentials = this.getProviderCredentialById(provider.idprovider_credential)

        // We fetch all the assets of the provider's credentials
        await this.fetchAssets({ providerCredentialsID: provider.idprovider_credential })

        // We put the assets in the list
        this.getAssets.forEach(asset => this.assets.push(asset))

        // We add it to the list
        this.providerCredentials.push(currentCredentials)
      })
    }
  },

  async mounted () {
    // 1 - We get the teams
    await this.fetchAllTeams()

    // We initialize the selected team, if any
    if (this.teams.length !== 0) {
      this.selectedTeam = this.teams[0]
    }

    // We fetch the user
    await this.fetchUser({ userID: this.idUser })

    // We fetch all the Providers
    await this.fetchAllProviders()

    // We clone the providers (because we'll add a row)
    this.providers = lodash.cloneDeep(this.getProviders)

    // We consider the loading done
    this.isLoading = false
  },

  methods: {
    ...mapActions('assets', ['fetchAssets', 'getBilling']),
    ...mapActions('cloud_providers', ['fetchAllProviders']),
    ...mapActions('cloud_providers.credentials', ['fetchProviderCredentialById']),
    ...mapActions('teams', ['fetchAllTeams', 'fetchTeam']),
    ...mapActions('users', ['fetchUser']),

    /** Total price of a given provider's credentials */
    priceTotalForProviderCredentials (idProviderCredentials) {
      // We filter the credentials, and only keep those of the given provider's credentials
      const filteredAssets = this.assets.filter(_ => _.idProvider_credentials === idProviderCredentials)

      // We compute the price
      return this.computePrice(filteredAssets)
    },

    /** Total price of a given provider */
    priceTotalForProvider (idProvider) {
      // We filter the credentials, and only keep those of the given provider
      const filteredAssets = this.assets.filter(_ => _.idProvider_credentials === idProvider)

      // We compute the price
      return this.computePrice(filteredAssets)
    },

    /** Total price of all the providers */
    priceTotal () {
      // Compute for all the assets
      return this.computePrice(this.assets)
    },

    /** Compute the price for a list of assets */
    computePrice (assetsList) {
      // We compute the price
      const price = assetsList.length !== 0 ? assetsList.map(asset => asset.lastBilling.amount).reduce(function myFunc (total, num) {
        return total + num
      }) : 0

      // We return a formated format of the price
      return price.toLocaleString(undefined, { minimumFractionDigits: 2 })
    }
  },

  head () {
    return { title: 'Facturation globale' }
  }
}
</script>
