<template>
  <v-container>
    <!-- When loading : progress-bar -->
    <CustomProgressBar
      v-if="isLoading"
      message="Chargement des données des utilisateurs..."
    />

    <v-data-table
      v-else
      :headers="headers"
      :items="users"
      sort-by="Nom"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar
          flat
        >
          <v-toolbar-title>Utilisateurs</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          />
          <v-spacer />
          <v-dialog
            v-model="dialog"
            maw-width="500pk"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="primary"
                dark
                class="mb-2"
                v-bind="attrs"
                v-on="on"
              >
                Nouvel Utilisateur
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline"> {{ (editedIndex === -1) ? 'New Item' : 'Edit Item' }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <v-text-field
                        v-model="editedItem.nameLast"
                        label="Nom"
                        :rules="[rules.required]"
                      />
                    </v-col>
                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <v-text-field
                        v-model="editedItem.nameFirst"
                        label="Prénom"
                        :rules="[rules.required]"
                      />
                    </v-col>
                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <v-text-field
                        v-model="editedItem.email"
                        label="email"
                        :rules="[rules.required, rules.email]"
                      />
                    </v-col>
                    <v-col
                      cols="12"
                      sm="6"
                      md="4"
                    >
                      <v-select
                        v-model="editedItem.role"
                        :items="itemSelect"
                        item-text="name"
                        return-object
                      />
                      <!-- <v-text-field
                        v-model="editedItem.role.name"
                        label="role"
                      /> -->
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer />
                <v-btn
                  color="primary"
                  text
                  @click="close"
                >
                  Annuler
                </v-btn>
                <v-btn
                  color="primary"
                  text
                  @click="save"
                >
                  Valider
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="headline">
                Êtes-vous sûr de vouloir supprimer cet utilisateur ?
              </v-card-title>
              <v-card-actions>
                <v-spacer />
                <v-btn class="zoom-xs" color="primary" text @click="closeDelete">
                  Annuler
                </v-btn>
                <v-btn class="zoom-xs" color="error" text @click="deleteItemConfirm">
                  Supprimer
                </v-btn>
                <v-spacer />
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="editItem(item)"
        >
          mdi-pencil
        </v-icon>
        <v-icon
          small
          class="mr-2"
          @click="deleteItem(item)"
        >
          mdi-delete
        </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn
          color="primary"
          @click="initialize"
        >
          Reset
        </v-btn>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
// Imports
import CustomProgressBar from '@/components/custom-progress-bar'
import MixinRules from '@/mixins/mixin-rules'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'PageUtilisateurs',

  components: {
    CustomProgressBar
  },

  mixins: [MixinRules],

  data: () => ({
    dialog: false,
    dialogDelete: false,

    // Table's headers
    headers: [
      {
        text: 'last name',
        align: 'start',
        sortable: false,
        value: 'nameLast'
      },
      { text: 'First name', value: 'nameFirst' },
      { text: 'Email', value: 'email' },
      { text: 'Actions', value: 'actions', sortable: false }
    ],

    // Edit
    editedIndex: -1,
    editedItem: {
      nameLast: '',
      nameFirst: '',
      email: '',
      role: {
        idrole: 7,
        name: 'user',
        privilegeLevel: 1
      }
    },
    defaultItem: {
      nameLast: '',
      nameFirst: '',
      email: '',
      role: {
        idrole: 7,
        name: 'user',
        privilegeLevel: 1
      }
    },
    itemSelect: [
      {
        idrole: 1,
        name: 'adminglobal',
        privilegeLevel: 1
      },
      {
        idrole: 3,
        name: 'Admin Clients',
        privilegeLevel: 2
      },
      {
        idrole: 5,
        name: 'adminsystem',
        privilegeLevel: 1
      },
      {
        idrole: 7,
        name: 'user',
        privilegeLevel: 1
      }
    ],

    // Whether the page is loading or not
    isLoading: true
  }),

  computed: {
    // imports
    ...mapGetters('users', ['getUsers']),

    // List of the users
    users () {
      return this.getUsers() || []
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    }
  },

  async mounted () {
    // We fetch all the users
    await this.fetchAllUsers()

    // We consider the loading done
    this.isLoading = false
  },

  methods: {
    // imports
    ...mapActions('users', ['fetchAllUsers', 'createUser', 'modifyUserAccount', 'deleteUser']),

    /** Enables the edition of a user */
    editItem (item) {
      this.editedIndex = this.users.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    /** Enables the deletetion of a user */
    deleteItem (item) {
      this.editedIndex = this.users.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },

    /** Deletes a user */
    deleteItemConfirm () {
      // We delete the user
      this.deleteUser({ idUser: this.editedItem.id })

      // We close the delete dialog
      this.closeDelete()
    },

    /** Closes the edit dialog */
    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    /** Closes the delete dialog */
    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    /** Edits or Creates a user */
    async save () {
      // If the id is defined : Modify
      // Otherwise : Create
      if (this.editedIndex > -1) {
        await this.modifyUserAccount({
          idUser: this.editedItem.id,
          nameFirst: this.editedItem.nameFirst,
          nameLast: this.editedItem.nameLast,
          email: this.editedItem.email,
          idRole: this.editedItem.role.idrole
        })
      } else {
        await this.createUser({
          nameFirst: this.editedItem.nameFirst,
          nameLast: this.editedItem.nameLast,
          email: this.editedItem.email,
          password: 'hyla7wgfth',
          idRole: this.editedItem.role.idrole
        })
      }

      // We close the dialog
      this.close()
    }
  }
}
</script>
