<template>
  <v-container>
    <!-- Progress bar -->
    <CustomProgressBar message="Redirection vers la page du service..." />
  </v-container>
</template>

<script>
// Imports
import MixinRouteParams from '@/mixins/mixin-route-params'

export default {
  name: 'PageDefault',

  mixins: [MixinRouteParams],

  mounted () {
    // We redirect toward the home page
    document.location.href = `/account/${this.paramIdAccount}/provider/${this.paramIdProviderCredentials}/service/${this.paramIdAsset}/informations-generales`
  },

  head () {
    return { title: 'Redirection ...' }
  }
}
</script>
