<template>
  <v-container>
    <!-- When loading : progress-bar -->
    <CustomProgressBar
      v-if="isLoading"
      message="Chargement des données du service..."
    />

    <!-- After loading : display the assets -->
    <div v-else>
      <!-- Before the assets's data, the arborescence -->
      <PathArborescence />

      <v-card>
        <v-row>
          <!-- 1 : asset's name -->
          <v-col cols="12" sm="6">
            <v-card-title>{{ asset.assetName }}</v-card-title>
          </v-col>

          <!-- 2 : asset's status -->
          <v-col class="text-right" cols="12" sm="6">
            <!-- running or not -->
            <v-card-title class="d-flex justify-end">
              Status : &nbsp;
              <span v-if="asset.running" class="success--text">
                ON
              </span>
              <span v-else class="error--text">
                OFF
              </span>
            </v-card-title>

            <!-- running or not since when -->
            <v-card-subtitle v-if="asset.running">
              Allumé depuis :
              {{ getFormattedDateSince(asset.lastBilling.date) }}
            </v-card-subtitle>

            <!-- 3 : otherwise, last time it was used -->
            <v-card-subtitle v-else>
              Dernière utilisation :
              {{ getFormattedDate(asset.lastBilling.date) }}
            </v-card-subtitle>
          </v-col>

          <!-- 3 : asset's description -->
          <v-col cols="12" sm="6">
            <v-card-subtitle class="text-justify">
              {{ asset.description }} {{ asset.description }} {{ asset.description }}
            </v-card-subtitle>
          </v-col>

          <!-- 4 : asset's graph -->
          <v-col cols="12" sm="6">
            <v-card-subtitle>
              <BillingComponent :show-label="false" />
            </v-card-subtitle>
          </v-col>
        </v-row>
      </v-card>
    </div>
  </v-container>
</template>

<script>
// Imports
import BillingComponent from '@/components/billing-component'
import CustomProgressBar from '@/components/custom-progress-bar'
import PathArborescence from '@/components/path-arborescence'
import MixinDate from '@/mixins/mixin-date'
import MixinRouteParams from '@/mixins/mixin-route-params'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'PageTemplate',

  components: {
    BillingComponent,
    CustomProgressBar,
    PathArborescence
  },

  mixins: [MixinDate, MixinRouteParams],

  data: () => ({
    // Whether we are loading data
    isLoading: true,

    // Whether the service is running
    running: false,

    // Whether the user is an admin
    isAdmin: false
  }),

  computed: {
    // Imports
    ...mapGetters('assets', ['getAssetByID']),
    ...mapGetters('authentification', ['idUser']),
    ...mapGetters('users', ['getUserByID']),

    /** Return the assets, or a default instance */
    asset () {
      return this.getAssetByID(this.paramIdAsset) || {}
    },

    /** Return whether the modification of the asset is disabled or not */
    isDisabled () {
      return !this.isAdmin && !this.running
    }
  },

  async mounted () {
    // We wait for the provider's credentials's assets
    await this.fetchAssetById({ providerCredentialsID: this.paramIdProviderCredentials, assetID: this.paramIdAsset })
    // await this.fetchAssetById({ providerCredentialsID: this.paramIdProviderCredentials, assetID: this.paramIdAsset })

    // We wait for the asset's billing
    await this.getBilling({ assetID: this.paramIdAsset })

    // We check whether the asset is running or not
    this.running = this.asset.running

    // We get the user
    await this.fetchUser({ userID: this.idUser })
    const user = this.getUserByID(this.idUser)

    // We check if he has access rights
    this.isAdmin = user.role.id === 1

    // We consider the loading done
    this.isLoading = false
  },

  methods: {
    // Imports
    ...mapActions('assets', ['fetchAssetById', 'getBilling']),
    ...mapActions('users', ['fetchUser']),

    /** Sets whether the service is running or not */
    setRunning () {
      // console.log(this.running)
    }
  },

  head () {
    return { title: this.asset.assetName }
  }
}
</script>
