<template>
  <v-container fluid>
    <v-card
      class="mx-auto my-12"
      max-width="400"
    >
      <!-- Formulaire -->
      <v-form v-model="formValid">
        <!-- Champ de l'email -->
        <v-container>
          <div class="text-start">
            Email :
          </div>

          <v-text-field
            v-model="user.email"
            filled
            outlined
            :rules="[rules.required, rules.maxSmall, rules.email]"
          />
        </v-container>

        <!-- Champ du mot de passe -->
        <v-container>
          <div class="text-start">
            Mot de passe :
          </div>

          <v-text-field
            v-model="user.password"
            filled
            outlined
            :append-icon="showpassword ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required, rules.maxSmall]"
            :type="showpassword ? 'text' : 'password'"
            @click:append="showpassword = !showpassword"
          />
        </v-container>
      </v-form>

      <v-container class="text-center">
        <!-- Bouton pour le mot de passe oublié -->
        <NuxtLink to="/password-forgot">
          <v-btn
            text
            class="text-decoration-underline font-italic text-none"
          >
            Mot de passe oublié ?
          </v-btn>
        </NuxtLink>

        <!-- Informations pour s'inscrire -->
        <p class="font-italic">
          Pas de compte ? Demandez sa création par l’administrateur du site.
        </p>
      </v-container>

      <v-container class="text-center">
        <!-- Message d'Erreur -->
        <p v-if="errorLogin" class="d-flex justify-center errorMessage error--text">
          Email ou mot de passe incorrect.
        </p>

        <!-- Button pour se connecter -->
        <v-btn
          :disabled="!formValid"
          color="primary"
          elevation="2"
          rounded
          @click="logMeIn"
        >
          Se connecter
        </v-btn>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
// Imports
import MixinRules from '@/mixins/mixin-rules'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'PageLogin',

  mixins: [MixinRules],

  data: () => ({
    // Whether the form is valid
    formValid: true,

    // Whether the back has refused the login
    errorLogin: false,

    // Whether the password should be displayed
    showpassword: false,

    // User's credentials
    user: {
      email: '',
      password: ''
    }
  }),

  computed: {
    // Imports
    ...mapGetters('authentification', ['isAuthenticated'])
  },

  methods: {
    // Imports
    ...mapActions('authentification', ['login']),

    /** Tries to login the user with its inputs */
    async logMeIn () {
      // We get the login's response from the store
      const response = await this.login({ email: this.user.email, password: this.user.password })

      // If the response has an error : set the error to true
      // Otherwise : reload and let the middlewares do their jobs
      if (response.err) {
        // Display error
        this.errorLogin = true
      } else {
        // Refresh for the middlewares
        await location.reload()
      }
    }
  },

  head () {
    return { title: 'Login' }
  }
}
</script>
