<template>
  <v-container>
    <!-- Card containing all data about the user -->
    <v-card shaped>
      <!-- Head of the card -->
      <v-container>
        <center>
          <v-img
            class="ma-4"
            src="/logo.png"
            max-height="200"
            max-width="200"
            contain
          />
          <h1 v-text="user.nameFirst + ' ' + user.nameLast" />
        </center>
      </v-container>

      <!-- Divider -->
      <v-divider />

      <!-- Tabs for each data about the character -->
      <v-tabs v-model="tab" grow icons-and-text center-active centered>
        <v-tab v-for="(item, i) in tabItems" :key="i" exact>
          <span class="shrink d-none d-sm-flex">{{ item.title }}</span>
          <v-icon>{{ item.icon }}</v-icon>
        </v-tab>
      </v-tabs>

      <!-- Tabs -->
      <v-tabs-items v-model="tab">
        <!-- Tab n° 1 - user's data -->
        <v-tab-item>
          <v-container>
            <v-form ref="formUserData" v-model="formUserData">
              <!-- Name of the user -->
              <v-row class="d-flex justify-center ma-4">
                <v-col cols="8" md="4">
                  <!-- First name of the user -->
                  <v-text-field
                    v-model="userPlaceholder.nameFirst"
                    label="Votre prénom"
                    :disabled="!isModifying"
                    :clearable="isModifying"
                    :rules="[rules.required, rules.maxSmall]"
                    type="text"
                  />

                  <!-- Last name of the user -->
                  <v-text-field
                    v-model="userPlaceholder.nameLast"
                    label="Votre nom"
                    :disabled="!isModifying"
                    :clearable="isModifying"
                    :rules="[rules.required, rules.maxSmall]"
                    type="text"
                  />

                  <!-- Dialog that changes the password -->
                  <v-dialog
                    v-model="dialogPassword"
                    width="500"
                  >
                    <!-- Dialog's trigger -->
                    <template v-slot:activator="{ on, attrs }">
                      <center>
                        <v-btn
                          :disabled="!isModifying"
                          outlined
                          color="error"
                          class="zoom-xs"
                          v-bind="attrs"
                          v-on="on"
                        >
                          <v-icon left dark>
                            mdi-eye
                          </v-icon>
                          Changer mot de passe
                        </v-btn>
                      </center>
                    </template>

                    <!-- Dialog's content -->
                    <CardPassword :enter-old-password="true" @passwordValidated="closeDialogPassword" />
                  </v-dialog>
                </v-col>
              </v-row>

              <!-- Buttons for modifications -->
              <ButtonsChanges
                :is-modifying="isModifying"
                text-activate="Modifier le compte"
                :activate="activateChangesUser"
                :discard="discardChangesUser"
                :validate="saveChangesUser"
              />
            </v-form>
          </v-container>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </v-container>
</template>

<script>
// Imports
import ButtonsChanges from '@/components/buttons-changes'
import CardPassword from '@/components/card-password'
import MixinRules from '@/mixins/mixin-rules'
import { mapActions, mapGetters } from 'vuex'
const lodash = require('lodash')

export default {
  name: 'PageUtilisateurMonCompte',

  components: {
    ButtonsChanges,
    CardPassword
  },

  mixins: [MixinRules],

  data () {
    return {
      // User's data
      user: {
        nameFirst: '',
        nameLast: '',
        email: ''
      },

      // Tabs
      tab: null,
      tabItems: [
        { icon: 'mdi-account', title: 'Mon Compte' }
      ],

      // Section 1 - Placeholder in which we modify the data of the universe
      formUserData: false,
      isModifying: false,
      userPlaceholder: {
        nameFirst: '',
        nameLast: '',
        email: ''
      },
      dialogPassword: false,

      // Section 2 - delete the user
      formUserDelete: false,
      dialogDeleteUser: false,
      deleteUsername: ''
    }
  },

  computed: {
    ...mapGetters('authentification', ['idUser']),
    ...mapGetters('users', ['getUserByID'])
  },

  async mounted () {
    // We fetch the user's data
    await this.fetchUser({ userID: this.idUser })

    // We get the user
    this.user = this.getUserByID(this.idUser)

    // We clone it with the placeholder
    this.userPlaceholder = lodash.cloneDeep(this.user)
  },

  methods: {
    // Imports
    ...mapActions('authentification', ['logout', 'modifyAccount']),
    ...mapActions('users', ['fetchUser']),

    /** Activate the changes to the user */
    activateChangesUser () {
      this.isModifying = true
    },

    /**
     * Discard the changes brought to the user
     */
    discardChangesUser () {
      // We reset the Placeholder
      this.userPlaceholder = lodash.cloneDeep(this.user)

      // We end the modification
      this.isModifying = false
    },

    /**
     * Saves the changes brought to the user, IF VALID
     */
    async saveChangesUser () {
      // If the form is valid
      if (this.$refs.formUserData.validate()) {
        // We set the data received to the user
        const response = await this.modifyAccount(this.userPlaceholder)

        // If the response has no error
        if (!response.err) {
          // We end the modification
          this.isModifying = false
        }
      }
    },

    /** Closes the dialog for the password */
    closeDialogPassword () {
      this.dialogPassword = false
    },

    /** Logs the user out */
    async logMeOut () {
      // Logout
      await this.logout()

      // Refresh for the middlewares, which will know where to go
      await location.reload()
    }
  },

  head () {
    return { title: 'Mon Compte' }
  }
}
</script>
