<template>
  <v-container>
    <!-- Card -->
    <CardPassword :enter-old-password="false" />
  </v-container>
</template>

<script>
import CardPassword from '@/components/card-password'

export default {
  name: 'PageUtilisateurPremiereConnexion',

  components: {
    CardPassword
  }
}
</script>
